html {
    min-height: 100% !important;
}

/*  pagecrm  */
@font-face {
    font-family: 'Play', sans-serif;
    src: url('../font/Play/Play-Bold.ttf') format('truetype');
    src: url('../font/Play/Play-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Space Grotesk', sans-serif;
    src: url('../font/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
}

body {
    display: flex;
    flex-direction: column;
    row-gap: 75px;
    color: white;/*
    background-color: rgba(34, 2, 52, 1);*/
    background: center / cover url("../images/bg-mobile.webp") no-repeat;
    font-family: 'Play', sans-serif;
    padding: 0 10px 0 10px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-weight: bold;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

@media screen and (min-width: 1600px){
    body {
        padding: 0 100px 0 100px;
        row-gap: 120px;
    }
    h1, h2, h3, h4 {
        line-height: 89px;
    }
    h1 {
        font-size: 64px;
    }
    h2 {
        font-size: 48px;
    }
    h3 {
        font-size: 45px;
    }
    h4 {
        font-size: 42px;
    }
    h5 {
        font-size: 24px;
        line-height: 47px;
    }
}

/*          MANAGE BUSINESS PROCESSES            */
.pagecrm_mbp {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
}

.pagecrm_mbp-title {
    padding-bottom: 20px;
}

.pagecrm_mbp-feature-list {
    display: grid;
    grid-template-areas:
            'h u'
            'r c'
    ;
    grid-auto-columns: 50% 50%;
    grid-auto-rows: 50% 50%;
    row-gap: 25px;
}

.pagecrm_mbp-feature-list_r {
    grid-area: r;
}

.pagecrm_mbp-feature-list_h {
    grid-area: h;
}

.pagecrm_mbp-feature-list_u {
    grid-area: u;
}

.pagecrm_mbp-feature-list_c {
    grid-area: c;
}

.pagecrm_mbp-img {
    width: 100px;
    height: 100px;
}

@media screen and (min-width: 1600px) {
    .pagecrm_mbp-feature-list {
        grid-template-areas: 'r h u c';
        justify-content: center;
        grid-auto-columns: 20%;
        gap: 20px;
    }
    .pagecrm_mbp-title {
        padding-bottom: 46px;
    }
}


@media screen and (min-width: 1600px) {
    .pagecrm_mbp {
        font-size: 32px;
        line-height: 40px;
    }
    .pagecrm_mbp-img {
        width: 200px;
        height: 200px;
    }
}

/*       FUNCTIONS CARDS       */

.pagecrm_fc {
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
}

.pagecrm_fc-card_wrapper {
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: rgba(72, 5, 114, 0.5);
    overflow: hidden;
    border: 1px solid rgba(148,0,255,1);
    box-shadow: 0 0 20px #D795FF;
    height: 190px;
}
.pagecrm_fc-card_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(230.07deg, #FFFFFF -50.81%, #0E9DDD 94.55%);
    height: 100%;
}
.pagecrm_fc-card_left-logo {
    height: 18px;
}
.pagecrm_fc-card_left-img {
    height: 115px;
}
.pagecrm_fc-card_right {
    padding: 10px;
}

@media screen and (min-width: 1600px) {
    .pagecrm_fc {
        flex-direction: row;
        column-gap: 20px;
    }
    .pagecrm_fc-card_wrapper {
        min-height: 320px;
    }
    .pagecrm_fc-card_right {
        padding: 20px;
    }
}

/*           FEEDBACK REQUEST FORM             */

.pagecrm_frf_wrapper {
    font-size: 14px;
    line-height: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background: rgba(72, 5, 114, 0.49);
    border: 2px solid rgba(148,0,255,1);
    border-radius: 32px;
    padding: 44px 15px;
}
.pagecrm_title {

}
.pagecrm_frf_input {
    color: #313149;
    border-radius: 15px;
    display: inline-block;
    background:
            linear-gradient(rgba(72, 5, 114, 0.3), rgba(72, 5, 114, 0.3)) padding-box,
            linear-gradient(168deg, rgba(148,0,255, 0.2) 11%, rgba(198,79,135, 0.2) 100%) border-box;
    padding: 17px 24px;
    border: 5px solid transparent;
}

.pagecrm_frf_input:focus-visible {
    outline: 0;
}
.pagecrm_frf_input::placeholder {
    color: white;
    font-family: 'Play', sans-serif;
}
.pagecrm_frf_button {
    color: white;
    text-transform: uppercase;
    padding: 20px 0;
    background:
        linear-gradient(rgba(30, 0, 68, 1), rgba(30, 0, 68, 1)) padding-box,
        linear-gradient(to right, rgba(56, 63, 236, 1), rgba(35, 255, 255, 1)) border-box;
    border: 1px solid transparent;
    border-radius: 10px;
}

/*              CRM BENEFITS                */

.pagecrm_cb_wrapper {
    font-size: 14px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 45px;
    justify-content: center;
}
.pagecrm_cb_list {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    list-style-type: none;
    background: linear-gradient(90deg, rgba(177, 149, 255, 0.7) 0%, rgba(177, 149, 255, 0.42) 0.01%, rgba(44, 48, 83, 0) 100%);
    padding: 14px 26px;
    border-radius: 20px 0 0 20px;
}

.pagecrm_cb_list-li {
    display: flex;
    align-items: center;
    column-gap: 9px;
    height: 84px;
}
.pagecrm_cb_list-li:first-child {
    height: 60px;
}
.pagecrm_cb_list-li-marker {
    width: 38px;
}

/*              CASES LIST              */

.pagecrm_cl_title {
    line-height: 30px;
    padding-bottom: 5px;
}
.pagecrm_cl_subtitle {
    text-align: center;
    color: transparent;
    background: linear-gradient(266.77deg, #FFFFFF -11.99%, #D795FF 42.41%, #7BC2FE 91.84%);
    background-clip: text;
    padding-bottom: 45px;
}

.pagecrm_cl_card-list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.pagecrm_cl_card-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    align-items: center;
    padding: 33px 33px 26px 33px;
    background:
            linear-gradient(rgba(72, 5, 114, 1), rgba(72, 5, 114, 1)) padding-box,
            linear-gradient(168deg, rgba(148,0,255, 0.7) 11%, rgba(198,79,135, 0.7) 100%) border-box;
    border: 2px solid transparent;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(215, 149, 255, 1), 0 0 4px rgba(215, 149, 255, 1);
}
.pagecrm_cl_card-top {
    width: 100%;
    background: linear-gradient(68.89deg, #1F0B32 3.44%, #1D1B7A 98.64%);
    padding: 25px 0 13px 0;
    text-align: center;
    border-radius: 30px;
}
.pagecrm_cl_card-top-image {}
.pagecrm_cl_card-top-image-place {
    background: linear-gradient(176.42deg, #B195FF -126.75%, #D795FF 97.05%);
    background-clip: text;
    color: transparent;
    font-size: 10px;
    line-height: 20px;
    font-weight: bold;
}
.pagecrm_cl_card-middle {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.pagecrm_cl_card-middle-label {
    font-size: 16px;
    line-height: 17px;
    font-weight: bold;
}
.pagecrm_cl_card-middle-description {
    font-size: 14px;
    line-height: 15px;
}
.pagecrm_cl_card-middle-usage {
    font-size: 14px;
    line-height: 15px;
    font-weight: bold;
    color: transparent;
    background: linear-gradient(176.42deg, #B195FF -126.75%, #D795FF 97.05%);
    background-clip: text;
}
.pagecrm_cl_card-button {
    color: white;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    width: fit-content;
    border: 1px solid;
    background:
            linear-gradient(rgba(30, 0, 68, 1), rgba(30, 0, 68, 1)) padding-box,
            linear-gradient(240.52deg, #59F8D2 7%, rgba(116, 223, 221, 0.43) 28.48%, rgba(161, 180, 239, 0.54) 64.29%, rgba(202, 142, 255, 0.55) 96.31%) border-box;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 12px 34px;
}